.favorites-page-container {
  position: relative;
  width: 80%;
  max-width: 1024px;
  border: 2px solid lightgray;
  padding: 3% 0;
  border-radius: 20px;
  margin: 30px auto;
}
.favorite-chef-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-height: 75vh;
  overflow-y: scroll;
}
.favorites-info-title {
  position: absolute;
  top: -20px;
  right: 3%;
  padding: 0 2%;
  background-color: #e9e3e3;
}
.favorites-info-title h2 {
  color: var(--primary-color);
}
.none-favorite-chef {
  color: red;
  margin: 50px auto;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .favorites-page-container {
    width: 90%;
  }
}
@media only screen and (max-width: 820px) {
}

@media only screen and (max-width: 600px) {
}
