.customer-personal-info-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 20%;
  border: 2px solid lightgray;
  padding: 5% 0;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  margin: 5% auto;
}

.update-profile-popup-container {
  position: absolute;
  top: 0;
  left: 0;
}

.customer-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
}

.user-profile-img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.upload-profile-image {
  font-size: 12px !important;
  color: blue !important;
  font-weight: 500 !important;
  padding-left: 5px;
  padding-top: 2px;
}

.customer-profile-info-title {
  position: absolute;
  top: -20px;
  right: 3%;
  padding: 0 2%;
  background-color: #e9e3e3;
}

.profile-last-orders-title {
  position: absolute;
  top: -20px;
  right: 3%;
  padding: 0 2%;
  background-color: #e9e3e3;
  color: var(--primary-color);
}

.customer-order-history-container {
  width: 60%;
}

.customer-info-container h3 {
  font-size: 16px;
  font-weight: 500;
}

.customer-info-container h2 {
  font-weight: 500;
  color: var(--primary-color);
  padding-bottom: 10px;
  margin: -15;
}

.fa-pen {
  color: blue;
  margin-right: 5px;
  font-size: 12px;
}

.edit-customer-profile-info {
  text-decoration: none;
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 0;
}

.edit-customer-profile-info h3 {
  font-size: 12px;
  text-decoration: underline;
  color: blue;
}

.customer-profile-error-msg {
  color: red;
}

@media only screen and (max-width: 820px) {
  .profile-image {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 600px) {
  .customer-personal-info-container {
    flex-direction: column;
  }
  .customer-profile-info-title h2 {
    font-size: 18px;
    padding: 0;
  }
  .customer-profile-info-title {
    display: flex;
    width: fit-content;
    top: -2.5%;
    right: 0;
    padding: 0 3%;
    left: 5%;
    background-color: #e9e3e3;
  }
  .profile-last-orders-title {
    display: flex;
    width: fit-content;
    top: -10px;
    right: 0;
    padding: 0 3%;
    left: 25px;
    background-color: #e9e3e3;
  }
  .profile-last-orders-title h2 {
    font-size: large;
  }
}
