.order-to-prepare-card-container {
  width: 370px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 20px;
  border-radius: 3px;
}

.order-to-prepare-info-container {
  width: 100%;
  font-size: small;
}

.order-to-prepare-info-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.order-to-prepare-info-header p {
  margin: 0;
  padding: 0px;
}

.order-to-prepare-meals-titles {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px;
}
.order-to-prepare-meals-titles h6 {
  margin: 0;
}
.order-to-prepare-more-details {
  margin: 0;
  margin-left: auto;
  font-size: x-small;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  padding: 0;
  padding: 2px;
  width: 80px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.order-to-prepare-price-status-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.order-to-prepare-status-btn {
  font-size: x-small;
  width: 80px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 2px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.order-to-prepare-price-status-container h6 {
  padding: 0;
  margin: 0;
  font-size: small;
}

.order-to-prepare-price-status-container p {
  padding: 0;
  margin: 0;
  font-size: small;
}

@media screen and (max-width: 1024px) {
  .order-to-prepare-card-container {
    width: 320px;
  }
}

@media screen and (max-width: 600px) {
  .order-to-prepare-card-container {
    width: 300px;
  }
}
