.order-items-container {
  width: 100%;
}

.order-item-container {
  font-size: x-small;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #e9e3e3;
}

.order-item-img-container {
  width: 80px;
  height: 80px;
  overflow: hidden;
  align-self: center;
  margin-bottom: 10px;
}
.order-item-img {
  height: 100%;
}
.order-item-container h6 {
  font-size: small;
  margin: 0;
}

.order-item-container p {
  margin: 0;
}
