.star-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -5%;
}

.star-container h3 {
  font-weight: 500;
  color: var(--primary-color);
}

.star {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.fa-star {
  padding: 5px;
  font-size: 18px;
}

.mouse-in {
  color: gold;
}

.mouse-out {
  color: gray;
}

.loading-gif {
  width: fit-content;
  margin: 0 auto 20px auto;
}

.profile-error {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: fit-content;
  margin: auto;
}

.profile-error img {
  width: 60px;
}

.profile-error h1 {
  color: red;
  font-size: 20px;
  font-weight: 700;
  padding-right: 15px;
  padding-left: 15px;
}

.profile-error h5 {
  color: red;
  font-size: 15px;
  text-align: center;
}
