.order-history-card-container {
  width: 95%;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 4vh;
  max-height: 800px;
  border-radius: 5px;
}

.order-date {
  margin-top: 10px;
  margin-left: 10px;
  color: #13753b;
  font-size: 25px;
}
.order-date-value {
  font-size: 20px;
  margin-right: 3px;
  color: black;
}

.order-history-price {
  float: inline-end;
  margin-right: 3rem;
  color: #13753b;
  font-size: 25px;
  margin-left: 10px;
}

.order-total-price-value {
  font-size: 20px;
  margin-right: 3px;
  color: black;
}

.order-history-card-title {
  border-bottom: 5px solid #13753b;
}

.order-history-card-body {
  padding: 10px;
}

/* Button Styling */
.order-history-btn-container {
  text-decoration: none;
  color: white;
  border: none;
  width: 100%;
}

.order-history-btn {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 0;
  margin: 0;
}
.order-history-btn:hover {
  background-color: #13753b;
}

@media screen and (max-width: 1024px) {
  .order-date {
    font-size: 25px;
  }
  .order-date-value {
    font-size: 20px;
    margin-right: 3px;
    color: black;
  }
  .order-history-price {
    font-size: 25px;
    margin-right: 2rem;
  }
  .order-total-price-value {
    font-size: 20px;
    margin-right: 3px;
    color: black;
  }
}

@media screen and (max-width: 768px) {
  .order-date {
    font-size: 20px;
  }
  .order-date-value {
    font-size: 15px;
    margin-right: 3px;
    color: black;
  }
  .order-history-price {
    font-size: 20px;
    margin-right: 1rem;
  }
  .order-total-price-value {
    font-size: 15px;
    margin-right: 3px;
    color: black;
  }
}

@media screen and (max-width: 480px) {
  .order-date {
    font-size: 15px;
  }
  .order-date-value {
    font-size: 10px;
    margin-right: 3px;
    color: black;
  }
  .order-history-price {
    font-size: 15px;
    margin-right: 1rem;
  }
  .order-total-price-value {
    font-size: 10px;
    margin-right: 3px;
    color: black;
  }
}
