.orders-history-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 20%;
  border: 2px solid lightgray;
  padding: 5% 0;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  margin: 5% auto;
}

.orders-history-title {
  position: absolute;
  top: -25px;
  right: 3%;
  padding: 0 2%;
  background-color: #e9e3e3;
  color: var(--primary-color);
}

.orders-history-card-container {
  width: 70%;
  margin: 20px;
}

.no-orders-title-container {
  color: var(--primary-color);
  display: flex;
  width: 100%;
  justify-content: center;
}
